body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
    color: #ffff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #8ba14c;
    border-bottom: 2px solid #c5ac93;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ffff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #c5ac93;
}

.navbar .navbar-nav {
    color: #ffff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #bc4a49;
}